#does{
    background: green;
}

.chao{
    background: violet;
}
div p{
    background: red;
}

.a{
    background-color: orange;
}
.b{
    background-color: #4400ff;
}
.c{
    background-color: RGB(255,0,0)
}

body { background-image: url("https://bit.ly/2slA7jo"); background-repeat: no-repeat; background-attachment: fixed;}